@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the content is at least the full viewport height */
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.header p {
    font-size: 14px;
    color: #666;
}

.form label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #333;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form button {
    background-color: #3897f0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #357ABD;
}

.form button:active {
    background-color: #285E9E;
}

